{% extends "base.html" %}

{% block content %}
	<div class="container">
		<h1>List of Films&nbsp;<IMG SRC="https://images.ecosia.org/iCI3OShC42kNMFjSynvWOzyBem8=/0x390/smart/http%3A%2F%2Fwww.emoji.co.uk%2Ffiles%2Fmozilla-emojis%2Fobjects-mozilla%2F11848-film-projector.png" HEIGHT = 70 WIDTH = 70 style="margin:0 0px 10 10px;">
      		</h1>
      		<a href="/addfilm"> Add a Film </a>
      		<br>
		<table class="table">
		<thead>
			<tr>
				<td><strong>Original title</strong></td>
				<td><strong>Original language</strong></td>
				<td><strong>Duration</strong></td>
				<td><strong>Date</strong></td>
				<td><strong>Grade</strong></td>
				<td><strong>Age</strong></td>
				<td><strong>Studio</strong></td>
				<td><strong>Actor</strong></td>
				<td><strong>Actions</strong></td>
			</tr>
		</thead>
		<tbody>
    		{% for film in films %}
		<tr>
			<td>{{ film.original_title }}</td>
			<td>{{ film.original_language }}</td>
			<td>{{ film.duration }}</td>
			<td>{{ film.date }}</td>
			<td>{{ film.grade }}</td>
			<td>{{ film.age }}</td>
			<td>{{ film.studio_name }}</td>
			<td>{{ film.actor_name }}</td>
			<td><strong><a href="/editfilm?id={{ film.id }}"style="color:#3ADF00;">Edit</a>&nbsp;&nbsp;<a href="/deletefilm?id={{ film.id }}"style="color:#FE2E2E;">Delete</a></strong></td>
		</tr>
    		{% endfor %}
		</tbody>
		</table>
	</div>
{% endblock %}
