{% extends "base.html" %}

{% block content %}
	<div class="container", style="text-align:center">
		<h1>Welcome <b>{% if session['username'] %} {{ session['username'] }} {% else %} Guest {% endif %}</b>!</h1>
      		<br>
    		<div style="text-align:center"><p>Welcome in Choose-Watch-Enjoy :-)</p></div>
    		<IMG SRC="https://images.ecosia.org/thcug8Benxwu3E7REnBugdYv0d8=/0x390/smart/https%3A%2F%2Fimages.emojiterra.com%2Fgoogle%2Fandroid-oreo%2F512px%2F1f3e1.png" HEIGHT = 150 WIDTH = 150>
    		<br>
    		<br>
    		<strong><div style="text-align:center"><font size="70"><font face="Times New Roman"><p>Home</p></div></strong>
	</div>
{% endblock %}
